<%- include('../partials/header') -%>

    <div class="text-center mx-auto">
        <a id="btnHome" class="btn btn-primary" href="/login">Login to Scrapper App</a>
    </div>


<%- include('../partials/footer') -%>